#### Pandas Overview

In [2]:
import pandas as pd
import numpy as np

In [3]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

#### pandas series can be formed useing list, dictionary, array

In [4]:
sd = pd.Series(d)

In [5]:
sn = pd.Series(data=arr, index=labels)
sn

a    10
b    20
c    30
dtype: int32

In [6]:
sd

a    10
b    20
c    30
dtype: int64

In [7]:
sn + sd #ops

a    20
b    40
c    60
dtype: int64

In [8]:
from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [9]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### Some of the pandas methods
##### >> Create df using data, specifying index, columns
##### >> dtype of pandas series and df
##### >> element accessing, loc and iloc
##### >> conditional formating 
##### >> droping index, columns, inplace
##### >> null values, dealing with them

#### Multindexing in DF

In [12]:
outside = ['o1','o1','o1','o2','o2']
inner = ['1', '2', '3', '1','2']
mindex = list(zip(outside, inner))
mindex = pd.MultiIndex.from_tuples(mindex)
mindex

MultiIndex(levels=[['o1', 'o2'], ['1', '2', '3']],
           labels=[[0, 0, 0, 1, 1], [0, 1, 2, 0, 1]])

In [13]:
df = pd.DataFrame(randn(5,2), index=mindex, columns=['a', 'b'])
df

             a         b
o1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
o2 1  0.166905  0.184502
   2  0.807706  0.072960

In [14]:
df.index.names

FrozenList([None, None])

In [15]:
df.index.names = ["outer","inner"]

In [16]:
df

                    a         b
outer inner
o1    1      0.302665  1.693723
      2     -1.706086 -1.159119
      3     -0.134841  0.390528
o2    1      0.166905  0.184502
      2      0.807706  0.072960

In [17]:
df.xs("o1")

              a         b
inner
1      0.302665  1.693723
2     -1.706086 -1.159119
3     -0.134841  0.390528

KeyError: ('o1', 1)